/1.lzw
/all.tar
/assig2.doc
/assig3.pdf
/BinaryStdIn.class
/BinaryStdOut.class
/bmps.tar
/code.txt
/code2.txt
/compress.exe
/currComp.lzw
/decCode.txt
/edit.exe
/empty.lzw
/frosty.jpg
/gone_fishing.bmp
/infosheet.txt
/input.txt
/large.txt
/Lego-big.gif
/LZW.java
/LZWmod.class
/medium.txt
/oldCode.lzw
/plain.gif
/plain.txt
/Queue.java
/StdIn.java
/StdOut.java
/texts.tar
/trial.txt
/TST.java
/wacky.bmp
/winnt256.bmp
/Wurst_Owen_Assignment3WriteUp.docx